<div class="conteiner1">
  <div class="conteiner2">
    <div class="textconteiner2">


      <div class="row">
        <% @series.each do |serie|%>
        <div class="col-xs-6 col-md-3">
          <a href="<%= series_path serie %>" class="thumbnail">
            <%= image_tag serie.image.url%>
            <div class="caption">
            </div>
          </a>
        </div>
        <%end%>
      </div>


    </div>
  </div>
</div>
